########################################################################
##           Inbound, an agnostic software building system.           ##
##                                                                    ##
##             Written by  Alexander Nicholi <//nich.fi/>             ##
##   Copyright (C) 2024-2025 Aquefir Consulting LLC <//aquefir.co/>   ##
##                    Released under BSD-2-Clause.                    ##
########################################################################

*.txt text eol=lf
Makefile text eol=lf
README text eol=lf
COPYING text eol=lf
CONTRIBUTING text eol=lf
COMPILING text eol=lf
*.s text eol=lf
*.c text eol=lf
*.h text eol=lf
*.vala text eol=lf
*.vapi text eol=lf
*.pl text eol=lf
*.py text eol=lf
*.sh text eol=lf

*.s linguist-language=Assembly
*.c linguist-language=C
*.h linguist-language=C

*.vala linguist-vendored
*.vapi linguist-vendored
*.pl linguist-vendored
*.py linguist-vendored
Makefile linguist-vendored
doc/** linguist-vendored
etc/** linguist-vendored
data/** linguist-vendored
util/** linguist-vendored
